includes:
    - ./vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon

parameters:

    # Level 9 is the highest level
    level: 5

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - app/
        - tests/


#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
